{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>OSF Ketoacidosis</title>
		<link rel="stylesheet" href="{% static 'get_data.css' %}">
    </head>
    <body>

		<div class="page">
			<div class="landing">
        		<div class="banner">
					<h1>OSF Machine Learning Project</h1>
					<h2>Enter Patient Data</h2>
        		</div>
        
				<form action = "" method = "post">
				
		    		<div class="data_display">
    					{% csrf_token %}
    					{% for field in form %}
							<div class="input_line">
								{{field.label_tag}}
								{{field}}
							</div>
						{% endfor %}
	        		</div>

					<div class="submitButton">
    					<input type="submit" value=Submit>
					</div>
				</form>
    <!--{% for head in field_names|slice:"1:"%}
       <label>{{ head }} <input type="text" required minlength="1" maxlength="8" size="8"></label>
    {% endfor %} -->
			</div>
		</div>
    </body>
</html>